.service-tabs {
  position:fixed;
  width: 18%;
  height: 100%;
  background: #263238;
  text-align:left;
  font-family: 'Lato', sans-serif;
}

.service-info {
  position: fixed;
  align-content: space-around;
  right: 0px;
  width: 82%;
  padding: 0 3% 0 3%;
  text-align: left;
}
