.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1rem;
    font-family: 'Lato', sans-serif;
    text-decoration:none;
    color:white;
  &:hover {
    background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
  }
}

.normal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1rem;
    font-family: 'Lato', sans-serif;
    text-decoration:none;
    color:white;
  &:hover {
    background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
  }
}

.navbar {
  text-align: center;
  display: flex;
    width:100%;
   position:fixed;

   background-color: #2A2C39;
   height:60px;
   font-family: 'Lato', sans-serif;
   margin:0px auto;
   flex-direction: row;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);


   &--top {
       position: fixed;
       top: 0;
   }
}
