#about-container {
  width: 100%;
  height: 100%;
  background-color: #2A2C39;
  overflow: hidden;
  position: relative;
}

.about-wrapper {
  margin: 0 auto;
  max-width: 800px;
  font: 200 30px 'Lato';
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 60px;

}

.section-header-about {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 40px;
  font: 300 60px 'Oswald', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}
