.home-container {
  text-align: center;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url(miniature-figure-1745718_1920.jpg);
  background-size:cover;
  color: #fafafa;
  text-shadow: -2px 1px rgba(0, 0, 0, 0.1);
  font: 900 6.853em Montserrat, Helvetica, Times, serif;
  letter-spacing: -.45rem;
  box-sizing: border-box;
}
