.container {
	display: inline-block;
	font-weight: normal;
	color: rgb(255, 64, 86); transform: translate3d(-3.785px, -1.65px, 0px);
	line-height: 1.2;
	letter-spacing: -.45rem;
	display: inline-block;
	font-weight: normal;
}
